body {
    font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

h1 {
    text-align: center;
    font-size: 4.5em;
    font-variant: small-caps;
}

input[type="text"] {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.todo-item-input {
    height: 2.5em;
    width: 98%;
}

.form-inline {
    margin-top: -3px;
}

form {
    display: block;
    margin: auto;
    width: 95%;
}

.todo-input {
    width: 83%;
}

.buttons-group {
    width: 15%;
}

table {
    margin: auto;
    width: 95%;
    font-size: 2em;
    margin-top: 1.5em;
}

table tbody tr {
    height: 1.5em;
}

.checkbox {
  width: 20px;
  position: relative;
  margin: 20px auto;
}
.checkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.checkbox label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.checkbox label:hover::after {
  opacity: 0.5;
}
.checkbox input[type=checkbox] {
  visibility: hidden;
}
.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.line-through {
    text-decoration: line-through;
}

.text {
    display: block;
    margin-top: -3px;
    padding-left: 0.5em;
}

button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 4px;
}

button.default {
    background-color: #fff;
    border: 1px solid #ccc;
}

button.default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

button.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    display: block;
    margin-top: -20px;
}

button.danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.pull-right {
    float: right;
}

.error-message {
    color: #d9534f;
    font-size: 1.3em;
    text-align: center;
    display: block;
}

.show {
    display: table;
}

.hide {
    display: none;
}